<div class="algoritmos">
        <div class="container">
                <!--Número algoritmo y Tema-->
                <div class="container">
                        <div class="row mb-2">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                        <label>Algoritmo número: {{mod}}</label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                        <label>Paso a Paso: {{tema}}</label>
                                </div>
                        </div>
                </div>
                <!--Código y Definición-->
                <div class="container">
                        <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                        <textarea style="height: 300px; padding: 20px" placeholder="CÓDIGO"
                                                disabled>{{codigo}}</textarea>
                                        <!-- ENLACE AL CONTENEDOR O BLOQUE -->
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                        <textarea style="height: 300px; padding: 20px" placeholder="DEFINICIÓN"
                                        disabled>{{definicion}}</textarea>
                                </div>
                        </div>
                </div>
                <!--Ejecución / Botones y Paso a paso-->
                <div class="container">
                        <div class="row">
                                <!--Entrada y Salida-->
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="Steps_flex_horizontales">
                                                <textarea style="height: 30px;"
                                                        placeholder="Entrada:">{{input}}</textarea>
                                                <textarea style="height: 88px; margin-top: 25px" placeholder="Salida:"
                                                        disabled> {{output}}</textarea>
                                        </div>
                                        <div class="mt-4">
                                                <form action="/paso_a_paso/{{mod}}" method="POST">
                                                        <button id="run" type="submit"
                                                                class="btn btn-success rounded-pill"><i
                                                                        class="fa fa-terminal"></i> Ejecutar</button>
                                                </form>
                                        </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                        <textarea style="height: 144px; padding: 20px" placeholder="VALOR DE LAS VARIABLES"
                                        disabled>{{definicion}}</textarea><!--MODIFICAR-->
                                        <div class="Steps_flex_verticales">
                                                <form action="/paso_a_paso/ant/{{mod}}" method="GET" class="mt-3">
                                                        <button type="submit" class="btn btn-primary rounded-pill"><i
                                                                        class="fa fa-arrow-left"></i> Anterior</button>
                                                </form>
                                                <form action="/paso_a_paso/sgt/{{mod}}" method="GET" class="mt-3">
                                                        <button type="submit"
                                                                class="btn btn-primary rounded-pill">Siguiente <i
                                                                        class="fa fa-arrow-right"></i></button>
                                                </form>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        <!--Botones anterior y siguiente-->
        <div>
                <a href="/algorithm/{{ant}}" class="bt" style="margin-top: -300px;"><i
                                class="fa fa-chevron-circle-left fa-4x" style="color: #007BFF;"></i></a>
                <a href="/algorithm/{{sig}}" class="bt1" style="margin-top: -300px;"><i
                                class="fa fa-chevron-circle-right fa-4x" style="color: #007BFF;"></i></a>
        </div>
</div>